<!-- Footer -->
<footer class="page-footer font-small blue pt-4" style="background-color: #f8f9fa;">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <a class="text-uppercase" routerLink="">Web Design</a>
          <p>Professional and affordable web design</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Connect</h5>

            <ul class="list-unstyled">
              <li>
                <a routerLink="subscribe">Subscribe</a>
              </li>
              <li>
                <a routerLink="contact-us">Contact Us</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Info</h5>

            <ul class="list-unstyled">
              <li>
                <a routerLink="pricing">Pricing</a>
              </li>
              <li>
                <a routerLink="about-us">About Us</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
