
<div class="card bg-dark text-white">
  <img class="card-img" src="/assets/images/banner_1.jpg" alt="Card image">
  <div class="card-img-overlay">
    <div style="background-color:black;opacity:0.5;width: max-content;padding:10px;box-sizing: border-box;">
    <h5 class="card-title" style="opacity: initial;">Your Dream Website Start From Here!</h5>
    <p class="card-text">Let Us Design a Simple and Elegant Website For You</p>
    </div>
  </div>
</div>

<div class="jumbotron">
  <h1 class="display-4">Hi, there!</h1>
  <p class="lead">Checkout our attractive pricing!</p>
  <hr class="my-4">
  <!-- <p></p> -->
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Our Professional:</h1>
    <!-- <p class="lead"></p> -->
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-sm-12 col-lg-4 text-center">
    <div class="card card-center">
      <img class="card-img-top logo-margin" src="/assets/images/html_logo.png" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">HTML</p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-4 text-center">
    <div class="card card-center">
      <img class="card-img-top logo-margin" src="/assets/images/css_logo.png" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">CSS</p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-4 text-center">
    <div class="card card-center">
      <img class="card-img-top logo-margin" src="/assets/images/angular_logo.png" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Angular</p>
      </div>
    </div>
  </div>
</div>
