<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Pricing</h1>
    <p class="lead">This is a price list.</p>
  </div>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Package</th>
      <th scope="col">Basic</th>
      <th scope="col">Advanced</th>
      <th scope="col">Premium</th>
    </tr>
  </thead>
  <tbody id="pricing">
    <tr>
      <th scope="col">HTML & CSS</th>
      <td><i class="fas fa-check"></i></td>
      <td><i class="fas fa-check"></i></td>
      <td><i class="fas fa-check"></i></td>
    </tr>
    <tr>
      <th scope="col">Responsive</th>
      <td><i class="fas fa-check"></i></td>
      <td><i class="fas fa-check"></i></td>
      <td><i class="fas fa-check"></i></td>
    </tr>
    <tr>
      <th scope="col">Database Access</th>
      <td><i class="fas fa-times"></i></td>
      <td><i class="fas fa-check"></i></td>
      <td><i class="fas fa-check"></i></td>
    </tr>
    <tr>
      <th scope="col">Authentication System</th>
      <td><i class="fas fa-times"></i></td>
      <td><i class="fas fa-check"></i></td>
      <td><i class="fas fa-check"></i></td>
    </tr>
    <tr>
      <th scope="col">Single Page Application</th>
      <td><i class="fas fa-times"></i></td>
      <td><i class="fas fa-times"></i></td>
      <td><i class="fas fa-check"></i></td>
    </tr>
    <tr>
      <td colspan="4"></td>
    </tr>
    <tr>
      <th>Price</th>
      <td><b>RM 500</b></td>
      <td><b>RM 800</b></td>
      <td><b>RM 1000</b></td>
    </tr>
  </tbody>
</table>